# Pre-processing data set

In [354]:
import pandas as pd
import numpy as np

df = pd.concat(
    map(pd.read_csv, ['data/2022.csv', 'data/2021.csv', 'data/2020.csv', 
    'data/2019.csv', 'data/2018.csv']), ignore_index=True)
df

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,...,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Dystopia + residual,Overall rank,Country or region,Score,GDP per capita
0,1.0,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Iceland,7.557,7.651,7.464,2.320,1.936,1.320,0.803,0.718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Switzerland,7.512,7.586,7.437,2.153,2.026,1.226,0.822,0.677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Netherlands,7.415,7.471,7.359,2.137,1.945,1.206,0.787,0.651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.244,0.083,0.064,NaN,NaN,NaN,152.0,Yemen,3.355,0.442
756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.481,0.270,0.097,NaN,NaN,NaN,153.0,Tanzania,3.303,0.455
757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.112,0.224,0.106,NaN,NaN,NaN,154.0,South Sudan,3.254,0.337
758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.305,0.218,0.038,NaN,NaN,NaN,155.0,Central African Republic,3.083,0.024
759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.065,0.149,0.076,NaN,NaN,NaN,156.0,Burundi,2.905,0.091

## Feature selection
Drop irrelevant features

In [355]:
df.dtypes

RANK                                          float64
Country                                        object
Happiness score                               float64
Whisker-high                                  float64
Whisker-low                                   float64
Dystopia (1.83) + residual                    float64
Explained by: GDP per capita                  float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Country name                                   object
Regional indicator                             object
Ladder score                                  float64
Standard error of ladder score                float64
upperwhisker                                  float64
lowerwhisker                                  float64
Logged GDP per capita                         float64
Social support                                float64
Healthy life expectancy                       float64
Freedom to make life choices                  float64
Generosity                                    float64
Perceptions of corruption                     float64
Ladder score in Dystopia                      float64
Explained by: Log GDP per capita              float64
Dystopia + residual                           float64
Overall rank                                  float64
Country or region                              object
Score                                         float64
GDP per capita                                float64
dtype: object

In [356]:
df.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Dystopia + residual',
       'Overall rank', 'Country or region', 'Score', 'GDP per capita'],
      dtype='object')

In [357]:
# drop columns
df = df.drop([
  'RANK', 'Whisker-high', 'Whisker-low', 'Dystopia (1.83) + residual', 'Standard error of ladder score',
  'upperwhisker', 'lowerwhisker', 'Ladder score in Dystopia', 'Overall rank', 'Dystopia + residual',
  'Logged GDP per capita'
   ], axis=1)

In [358]:
df

,Country,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Country name,Regional indicator,Ladder score,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Explained by: Log GDP per capita,Country or region,Score,GDP per capita
0,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.073,0.343,0.244,0.083,0.064,NaN,Yemen,3.355,0.442
756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.991,0.381,0.481,0.270,0.097,NaN,Tanzania,3.303,0.455
757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.608,0.177,0.112,0.224,0.106,NaN,South Sudan,3.254,0.337
758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.010,0.305,0.218,0.038,NaN,Central African Republic,3.083,0.024
759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.627,0.145,0.065,0.149,0.076,NaN,Burundi,2.905,0.091

In [359]:
df.columns

Index(['Country', 'Happiness score', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Country name', 'Regional indicator', 'Ladder score', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Explained by: Log GDP per capita',
       'Country or region', 'Score', 'GDP per capita'],
      dtype='object')

In [360]:
df.isna().sum()

Country                                       614
Happiness score                               614
Explained by: GDP per capita                  614
Explained by: Social support                  312
Explained by: Healthy life expectancy         312
Explained by: Freedom to make life choices    312
Explained by: Generosity                      312
Explained by: Perceptions of corruption       312
Country name                                  458
Regional indicator                            458
Ladder score                                  458
Social support                                146
Healthy life expectancy                       146
Freedom to make life choices                  146
Generosity                                    146
Perceptions of corruption                     147
Explained by: Log GDP per capita              458
Country or region                             448
Score                                         448
GDP per capita                                448
dtype: int64

In [361]:
df['Happiness score'] = df['Happiness score'].fillna(df['Score'])
df['Happiness score'] = df['Happiness score'].fillna(df['Ladder score'])

df = df.drop([ 'Score','Ladder score'], axis=1)
df['Happiness score'].isna().sum()

0

In [362]:
df['Country'] = df['Country'].fillna(df['Country name'])
df['Country'] = df['Country'].fillna(df['Country or region'])

df = df.drop([ 'Country name', 'Country or region'], axis=1)
df['Country'].isna().sum()

df['Country'] = df['Country'].str.replace('*', '')

/var/folders/yy/fwc73zl141q0zj_v307n1l9w0000gn/T/ipykernel_79637/3947561049.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Country'] = df['Country'].str.replace('*', '')

In [363]:

# group by country and take the first non-null value for 'region' within each group
region_map = df.groupby('Country')['Regional indicator'].apply(lambda x: x.ffill().bfill().iloc[0])

# fill in the missing region values using the region_map
df['Regional indicator'] = df['Regional indicator'].fillna(df['Country'].map(region_map))

df = df.drop([ 'Country'], axis=1)
df = df[df['Regional indicator'].notna()]

df['Regional indicator'] = df['Regional indicator'].str.replace('Southeastern Asia', 'Southeast Asia')
df['Regional indicator'] = df['Regional indicator'].str.replace('Southern Asia', 'South Asia')
df['Regional indicator'] = df['Regional indicator'].str.replace('Eastern Asia', 'East Asia')
df['Regional indicator'] = df['Regional indicator'].str.replace('Middle East and Northern Africa', 'Middle East and North Africa')

df['Regional indicator'].isna().sum()

0

In [364]:
df['Explained by: GDP per capita'] = df['Explained by: GDP per capita'].fillna(df['GDP per capita'])
df['Explained by: GDP per capita'] = df['Explained by: GDP per capita'].fillna(df['Explained by: Log GDP per capita'])

df = df.drop(['GDP per capita', 'Explained by: Log GDP per capita'], axis=1)

df['Explained by: GDP per capita'].isna().sum()

0

In [365]:

df['Explained by: Healthy life expectancy'] = df['Explained by: Healthy life expectancy'].fillna(df['Healthy life expectancy'])

df = df.drop([ 'Healthy life expectancy'], axis=1)

df['Explained by: Healthy life expectancy'].isna().sum()

0

In [366]:
df['Explained by: Social support'] = df['Explained by: Social support'].fillna(df['Social support'])

df = df.drop([ 'Social support'], axis=1)

df['Explained by: Social support'].isna().sum()

0

In [367]:
df['Explained by: Freedom to make life choices'] = df['Explained by: Freedom to make life choices'].fillna(df['Freedom to make life choices'])

df = df.drop(['Freedom to make life choices'], axis=1)

df['Explained by: Freedom to make life choices'].isna().sum()

0

In [368]:
df['Explained by: Perceptions of corruption'] = df['Explained by: Perceptions of corruption'].fillna(df['Perceptions of corruption'])

df = df.drop(['Perceptions of corruption'], axis=1)

df['Explained by: Perceptions of corruption'] = df['Explained by: Perceptions of corruption'].fillna(0)
df['Explained by: Perceptions of corruption'].isna().sum()

0

In [369]:
df['Explained by: Generosity'] = df['Explained by: Generosity'].fillna(df['Generosity'])

df = df.drop(['Generosity'], axis=1)

df['Explained by: Generosity'].isna().sum()

0

In [370]:
df.isna().sum()

Happiness score                               0
Explained by: GDP per capita                  0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Regional indicator                            0
dtype: int64

In [371]:
df.columns

Index(['Happiness score', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Regional indicator'],
      dtype='object')

In [372]:
# rename columns
df = df.rename(columns={
  'Regional indicator': 'Region',
  'Happiness score': 'Happiness_score',
  'Explained by: GDP per capita': 'GDP_per_capita', 
  'Explained by: Social support': 'Social_support',
  'Explained by: Healthy life expectancy': 'Healthy_life_expectancy',
  'Explained by: Freedom to make life choices': 'Freedom_to_make_life_choices',
  'Explained by: Generosity': 'Generosity',
  'Explained by: Perceptions of corruption': 'Perceptions_of_corruption',
  })

In [373]:
df

,Happiness_score,GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Region
0,7.821,1.892,1.258,0.775,0.736,0.109,0.534,Western Europe
1,7.636,1.953,1.243,0.777,0.719,0.188,0.532,Western Europe
2,7.557,1.936,1.320,0.803,0.718,0.270,0.191,Western Europe
3,7.512,2.026,1.226,0.822,0.677,0.147,0.461,Western Europe
4,7.415,1.945,1.206,0.787,0.651,0.271,0.419,Western Europe
...,...,...,...,...,...,...,...,...
755,3.355,0.442,1.073,0.343,0.244,0.083,0.064,Middle East and North Africa
756,3.303,0.455,0.991,0.381,0.481,0.270,0.097,Sub-Saharan Africa
757,3.254,0.337,0.608,0.177,0.112,0.224,0.106,Sub-Saharan Africa
758,3.083,0.024,0.000,0.010,0.305,0.218,0.038,Sub-Saharan Africa
759,2.905,0.091,0.627,0.145,0.065,0.149,0.076,Sub-Saharan Africa

In [374]:
# check data types
df.dtypes

Happiness_score                 float64
GDP_per_capita                  float64
Social_support                  float64
Healthy_life_expectancy         float64
Freedom_to_make_life_choices    float64
Generosity                      float64
Perceptions_of_corruption       float64
Region                           object
dtype: object

In [375]:
df.describe()

,Happiness_score,GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
count,738.000000,738.000000,738.000000,738.000000,738.000000,738.000000,738.000000
mean,5.470623,1.005095,1.058108,0.625790,0.465699,0.175271,0.127576
std,1.103645,0.443531,0.332756,0.238817,0.150093,0.096231,0.111272
min,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.639250,0.691500,0.843500,0.457275,0.378307,0.103000,0.054000
50%,5.480000,1.022957,1.092000,0.655500,0.487695,0.164699,0.093000
75%,6.226225,1.320998,1.322579,0.798000,0.581107,0.235000,0.157750
max,7.842000,2.209000,1.644000,1.141000,0.740000,0.598000,0.587000

In [376]:
# Convert numeric explained by data into categorical

# define the range of values 
bins = np.around(np.arange(0, 2.5, 0.2), decimals=2)
labels = [ f'{bins[i]}-{bins[i+1]}' for i in range(len(bins) - 1) ]

# use pd.cut() to map the numerical values to the categorical values
for col in df.columns:
    if col in ['Social_support', 'Healthy_life_expectancy', 'GDP_per_capita']:
        df[col] = pd.cut(df[col], bins=bins, labels=labels, include_lowest=True)

In [377]:
# Convert numeric explained by data into categorical

# define the range of values 
bins = np.around(np.arange(0, 1, 0.1), decimals=3)
labels = [ f'{bins[i]}-{bins[i+1]}' for i in range(len(bins) - 1) ]

# use pd.cut() to map the numerical values to the categorical values
for col in df.columns:
    if col in ['Freedom_to_make_life_choices', 'Generosity', 'Perceptions_of_corruption']:
        df[col] = pd.cut(df[col], bins=bins, labels=labels, include_lowest=True)

In [378]:
# Convert ladder score data into categorical

# define the range of values 
bins = np.around(np.arange(0, 9, 0.5), decimals=2)
labels = [ f'{bins[i]}-{bins[i+1]}' for i in range(len(bins) - 1) ]


# use pd.cut() to map the numerical values to the categorical values
for col in df.columns:
    if col == 'Happiness_score':
        df[col] = pd.cut(df[col], bins=bins, labels=labels, include_lowest=True)

In [379]:
df.dtypes

Happiness_score                 category
GDP_per_capita                  category
Social_support                  category
Healthy_life_expectancy         category
Freedom_to_make_life_choices    category
Generosity                      category
Perceptions_of_corruption       category
Region                            object
dtype: object

In [380]:
# check for null values
df.isna().sum()

Happiness_score                 0
GDP_per_capita                  0
Social_support                  0
Healthy_life_expectancy         0
Freedom_to_make_life_choices    0
Generosity                      0
Perceptions_of_corruption       0
Region                          0
dtype: int64

In [382]:
df.sample(10)

,Happiness_score,GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Region
744,3.5-4.0,0.4-0.6,1.2-1.4,0.0-0.2,0.4-0.5,0.1-0.2,0.1-0.2,Sub-Saharan Africa
631,6.0-6.5,0.8-1.0,1.4-1.6,0.6-0.8,0.4-0.5,0.1-0.2,0.0-0.1,Latin America and Caribbean
264,4.5-5.0,0.2-0.4,0.6-0.8,0.2-0.4,0.3-0.4,0.2-0.3,0.0-0.1,Sub-Saharan Africa
590,3.5-4.0,0.2-0.4,0.8-1.0,0.4-0.6,0.1-0.2,0.1-0.2,0.0-0.1,Sub-Saharan Africa
307,7.0-7.5,1.2-1.4,1.4-1.6,0.8-1.0,0.5-0.6,0.3-0.4,0.3-0.4,Western Europe
47,6.0-6.5,1.6-1.8,1.0-1.2,0.6-0.8,0.5-0.6,0.1-0.2,0.1-0.2,Central and Eastern Europe
125,4.0-4.5,1.0-1.2,0.8-1.0,0.4-0.6,0.5-0.6,0.4-0.5,0.1-0.2,Southeast Asia
609,7.0-7.5,1.2-1.4,1.4-1.6,0.8-1.0,0.6-0.7,0.3-0.4,0.2-0.3,Western Europe
628,6.0-6.5,1.0-1.2,1.2-1.4,0.8-1.0,0.4-0.5,0.1-0.2,0.0-0.1,Latin America and Caribbean
309,7.0-7.5,0.8-1.0,1.2-1.4,0.8-1.0,0.6-0.7,0.1-0.2,0.0-0.1,Latin America and Caribbean

In [215]:
# export pre-processed data to csv
df.to_csv('trainingData.csv')