# Pre-processing data set

In [372]:
import pandas as pd
import numpy as np

df = pd.concat(
    map(pd.read_csv, ['data/2022.csv', 'data/2021.csv', 'data/2020.csv', 
    'data/2019.csv', 'data/2018.csv']), ignore_index=True)
df

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,...,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Dystopia + residual,Overall rank,Country or region,Score,GDP per capita
0,1.0,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Iceland,7.557,7.651,7.464,2.320,1.936,1.320,0.803,0.718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Switzerland,7.512,7.586,7.437,2.153,2.026,1.226,0.822,0.677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Netherlands,7.415,7.471,7.359,2.137,1.945,1.206,0.787,0.651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.244,0.083,0.064,NaN,NaN,NaN,152.0,Yemen,3.355,0.442
756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.481,0.270,0.097,NaN,NaN,NaN,153.0,Tanzania,3.303,0.455
757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.112,0.224,0.106,NaN,NaN,NaN,154.0,South Sudan,3.254,0.337
758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.305,0.218,0.038,NaN,NaN,NaN,155.0,Central African Republic,3.083,0.024
759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.065,0.149,0.076,NaN,NaN,NaN,156.0,Burundi,2.905,0.091

## Feature selection
Drop irrelevant features

In [373]:
df.dtypes

RANK                                          float64
Country                                        object
Happiness score                               float64
Whisker-high                                  float64
Whisker-low                                   float64
Dystopia (1.83) + residual                    float64
Explained by: GDP per capita                  float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Country name                                   object
Regional indicator                             object
Ladder score                                  float64
Standard error of ladder score                float64
upperwhisker                                  float64
lowerwhisker                                  float64
Logged GDP per capita                         float64
Social support                                float64
Healthy life expectancy                       float64
Freedom to make life choices                  float64
Generosity                                    float64
Perceptions of corruption                     float64
Ladder score in Dystopia                      float64
Explained by: Log GDP per capita              float64
Dystopia + residual                           float64
Overall rank                                  float64
Country or region                              object
Score                                         float64
GDP per capita                                float64
dtype: object

In [374]:
df.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Dystopia + residual',
       'Overall rank', 'Country or region', 'Score', 'GDP per capita'],
      dtype='object')

In [376]:
# drop columns
df = df.drop([
  'RANK', 'Whisker-high', 'Whisker-low', 'Dystopia (1.83) + residual', 'Standard error of ladder score',
  'upperwhisker', 'lowerwhisker', 'Ladder score in Dystopia', 'Overall rank', 'Dystopia + residual',
   'Logged GDP per capita'
   ], axis=1)

KeyError: "['Whisker.high', 'Whisker.low', 'Dystopia.Residual', 'Happiness.Rank'] not found in axis"

In [ ]:
df

,Country,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Country name,Regional indicator,...,Happiness.Score,Economy..GDP.per.Capita.,Health..Life.Expectancy.,Freedom,Trust..Government.Corruption.,Region,Happiness Score,Economy (GDP per Capita),Health (Life Expectancy),Trust (Government Corruption)
0,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.59201,NaN,Sub-Saharan Africa,3.465,0.22208,0.42864,0.55191
1226,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.48450,NaN,Sub-Saharan Africa,3.340,0.28665,0.31910,0.08010
1227,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.15684,NaN,Middle East and Northern Africa,3.006,0.66320,0.72193,0.18906
1228,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.11850,NaN,Sub-Saharan Africa,2.905,0.01530,0.22396,0.10062
1229,Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.36453,NaN,Sub-Saharan Africa,2.839,0.20868,0.28443,0.10731

In [ ]:
df.columns

Index(['Country', 'Happiness score', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Country name', 'Regional indicator', 'Ladder score', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Explained by: Log GDP per capita',
       'Country or region', 'Score', 'GDP per capita', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Freedom',
       'Trust..Government.Corruption.', 'Region', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)',
       'Trust (Government Corruption)'],
      dtype='object')

In [ ]:
df.isna().sum()

Country                                        614
Happiness score                               1084
Explained by: GDP per capita                  1084
Explained by: Social support                   782
Explained by: Healthy life expectancy          782
Explained by: Freedom to make life choices     782
Explained by: Generosity                       782
Explained by: Perceptions of corruption        782
Country name                                   928
Regional indicator                             928
Ladder score                                   928
Social support                                 616
Healthy life expectancy                        616
Freedom to make life choices                   616
Generosity                                     146
Perceptions of corruption                      617
Explained by: Log GDP per capita               928
Country or region                              918
Score                                          918
GDP per capita                                 918
Happiness.Score                               1075
Economy..GDP.per.Capita.                      1075
Health..Life.Expectancy.                      1075
Freedom                                        760
Trust..Government.Corruption.                 1075
Region                                         915
Happiness Score                                915
Economy (GDP per Capita)                       915
Health (Life Expectancy)                       915
Trust (Government Corruption)                  915
dtype: int64

In [ ]:
df['Happiness score'] = df['Happiness score'].fillna(df['Happiness Score'])
df['Happiness score'] = df['Happiness score'].fillna(df['Happiness.Score'])
df['Happiness score'] = df['Happiness score'].fillna(df['Score'])
df['Happiness score'] = df['Happiness score'].fillna(df['Ladder score'])

df = df.drop([ 'Happiness Score', 'Score', 'Happiness.Score','Ladder score'], axis=1)
df['Happiness score'].isna().sum()

0

In [ ]:
df['Country'] = df['Country'].fillna(df['Country name'])
df['Country'] = df['Country'].fillna(df['Country or region'])

df = df.drop([ 'Country name', 'Country or region'], axis=1)
df['Country'].isna().sum()

df['Country'] = df['Country'].str.replace('*', '')

/var/folders/yy/fwc73zl141q0zj_v307n1l9w0000gn/T/ipykernel_38178/3947561049.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Country'] = df['Country'].str.replace('*', '')

In [ ]:
df['Region'] = df['Region'].fillna(df['Regional indicator'])

# group by country and take the first non-null value for 'region' within each group
region_map = df.groupby('Country')['Region'].apply(lambda x: x.ffill().bfill().iloc[0])

# fill in the missing region values using the region_map
df['Region'] = df['Region'].fillna(df['Country'].map(region_map))

df = df.drop([ 'Regional indicator', 'Country'], axis=1)

df = df[df['Region'].notna()]

df['Region'] = df['Region'].str.replace('Southeastern Asia', 'Southeast Asia')
df['Region'] = df['Region'].str.replace('Southern Asia', 'South Asia')
df['Region'] = df['Region'].str.replace('Eastern Asia', 'East Asia')
df['Region'] = df['Region'].str.replace('Middle East and Northern Africa', 'Middle East and North Africa')

df['Region'].isna().sum()

0

In [ ]:
df['Explained by: GDP per capita'] = df['Explained by: GDP per capita'].fillna(df['Economy (GDP per Capita)'])
df['Explained by: GDP per capita'] = df['Explained by: GDP per capita'].fillna(df['Economy..GDP.per.Capita.'])
df['Explained by: GDP per capita'] = df['Explained by: GDP per capita'].fillna(df['GDP per capita'])
df['Explained by: GDP per capita'] = df['Explained by: GDP per capita'].fillna(df['Explained by: Log GDP per capita'])

df = df.drop([ 'Economy (GDP per Capita)', 'Economy..GDP.per.Capita.','GDP per capita', 'Explained by: Log GDP per capita'], axis=1)

df['Explained by: GDP per capita'].isna().sum()

0

In [ ]:
df['Explained by: Healthy life expectancy'] = df['Explained by: Healthy life expectancy'].fillna(df['Health (Life Expectancy)'])
df['Explained by: Healthy life expectancy'] = df['Explained by: Healthy life expectancy'].fillna(df['Health..Life.Expectancy.'])
df['Explained by: Healthy life expectancy'] = df['Explained by: Healthy life expectancy'].fillna(df['Healthy life expectancy'])

df = df.drop([ 'Health (Life Expectancy)', 'Health..Life.Expectancy.','Healthy life expectancy'], axis=1)

df['Explained by: Healthy life expectancy'].isna().sum()

0

In [ ]:
df['Explained by: Social support'] = df['Explained by: Social support'].fillna(df['Social support'])


df = df.drop(['Social support'], axis=1)

df['Explained by: Social support'].isna().sum()

469

In [ ]:
df['Explained by: Freedom to make life choices'] = df['Explained by: Freedom to make life choices'].fillna(df['Freedom'])
df['Explained by: Freedom to make life choices'] = df['Explained by: Freedom to make life choices'].fillna(df['Freedom to make life choices'])

df = df.drop(['Freedom', 'Freedom to make life choices'], axis=1)

df['Explained by: Freedom to make life choices'].isna().sum()

0

In [ ]:
df['Explained by: Perceptions of corruption'] = df['Explained by: Perceptions of corruption'].fillna(df['Trust (Government Corruption)'])
df['Explained by: Perceptions of corruption'] = df['Explained by: Perceptions of corruption'].fillna(df['Trust..Government.Corruption.'])
df['Explained by: Perceptions of corruption'] = df['Explained by: Perceptions of corruption'].fillna(df['Perceptions of corruption'])

df = df.drop(['Trust (Government Corruption)', 'Trust..Government.Corruption.', 'Perceptions of corruption'], axis=1)

df['Explained by: Perceptions of corruption'].isna().sum()

1

In [ ]:
df['Explained by: Generosity'] = df['Explained by: Generosity'].fillna(df['Generosity'])

df = df.drop(['Generosity'], axis=1)

df['Explained by: Generosity'].isna().sum()

0

In [355]:
df.columns

Index(['Happiness score', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Region'],
      dtype='object')

In [51]:
# rename columns
df = df.rename(columns={
  'Explained by: GDP per capita': 'GDP per capita', 
  'Explained by: Social support': 'Social support',
  'Explained by: Healthy life expectancy': 'Healthy life expectancy',
  'Explained by: Freedom to make life choices': 'Freedom to make life choices',
  'Explained by: Generosity': 'Generosity',
  'Explained by: Perceptions of corruption': 'Perceptions of corruption',
  })

In [52]:
df

,Regional indicator,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384
...,...,...,...,...,...,...,...,...
144,Sub-Saharan Africa,3.512,0.451,0.731,0.007,0.405,0.103,0.015
145,Sub-Saharan Africa,3.467,1.099,0.724,0.340,0.539,0.027,0.088
146,Sub-Saharan Africa,3.415,0.364,0.202,0.407,0.627,0.227,0.493
147,Sub-Saharan Africa,3.145,0.457,0.649,0.243,0.359,0.157,0.075
148,South Asia,2.523,0.370,0.000,0.126,0.000,0.122,0.010

In [53]:
# check data types
df.dtypes

Regional indicator               object
Happiness score                 float64
Logged GDP per capita           float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [54]:
df.describe()

,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141
std,1.073924,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361
min,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.852000,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000
50%,5.534000,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000
75%,6.255000,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000
max,7.842000,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000

In [55]:
# Convert numeric explained by data into categorical

# define the range of values 
bins = np.arange(0, 1.9, 0.1)

# use pd.cut() to map the numerical values to the categorical values
for col in df.columns:
    if col not in ['Regional indicator', 'Happiness score']:
        df[col] = pd.cut(df[col], bins=bins, include_lowest=True)

In [56]:
# Convert ladder score data into categorical

# define the range of values 
bins = np.arange(0, 8.5, 0.5)

# use pd.cut() to map the numerical values to the categorical values
for col in df.columns:
    if col == 'Happiness score':
        df[col] = pd.cut(df[col], bins=bins, include_lowest=True)

In [57]:
df.dtypes

Regional indicator                object
Happiness score                 category
Logged GDP per capita           category
Social support                  category
Healthy life expectancy         category
Freedom to make life choices    category
Generosity                      category
Perceptions of corruption       category
dtype: object

In [58]:
df

,Regional indicator,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Western Europe,"(7.5, 8.0]","(1.4, 1.5]","(1.1, 1.2]","(0.7, 0.8]","(0.6, 0.7]","(0.1, 0.2]","(0.4, 0.5]"
1,Western Europe,"(7.5, 8.0]","(1.5, 1.6]","(1.1, 1.2]","(0.7, 0.8]","(0.6, 0.7]","(0.2, 0.3]","(0.4, 0.5]"
2,Western Europe,"(7.5, 8.0]","(1.5, 1.6]","(1.0, 1.1]","(0.8, 0.9]","(0.6, 0.7]","(0.2, 0.3]","(0.4, 0.5]"
3,Western Europe,"(7.5, 8.0]","(1.4, 1.5]","(1.1, 1.2]","(0.7, 0.8]","(0.6, 0.7]","(0.2, 0.3]","(0.1, 0.2]"
4,Western Europe,"(7.0, 7.5]","(1.5, 1.6]","(1.0, 1.1]","(0.7, 0.8]","(0.6, 0.7]","(0.3, 0.4]","(0.3, 0.4]"
...,...,...,...,...,...,...,...,...
144,Sub-Saharan Africa,"(3.5, 4.0]","(0.4, 0.5]","(0.7, 0.8]","(-0.001, 0.1]","(0.4, 0.5]","(0.1, 0.2]","(-0.001, 0.1]"
145,Sub-Saharan Africa,"(3.0, 3.5]","(1.0, 1.1]","(0.7, 0.8]","(0.3, 0.4]","(0.5, 0.6]","(-0.001, 0.1]","(-0.001, 0.1]"
146,Sub-Saharan Africa,"(3.0, 3.5]","(0.3, 0.4]","(0.2, 0.3]","(0.4, 0.5]","(0.6, 0.7]","(0.2, 0.3]","(0.4, 0.5]"
147,Sub-Saharan Africa,"(3.0, 3.5]","(0.4, 0.5]","(0.6, 0.7]","(0.2, 0.3]","(0.3, 0.4]","(0.1, 0.2]","(-0.001, 0.1]"
148,South Asia,"(2.5, 3.0]","(0.3, 0.4]","(-0.001, 0.1]","(0.1, 0.2]","(-0.001, 0.1]","(0.1, 0.2]","(-0.001, 0.1]"

In [59]:
# check for null values
df.isna().sum()

Regional indicator              0
Happiness score                 0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [60]:
# export pre-processed data to csv
df.to_csv('PP-world-happiness.csv')