# Pre-processing data set

In [68]:
import pandas as pd
import numpy as np

df = pd.read_csv('world-happiness-report-2021.csv')
df = pd.concat(
    map(pd.read_csv, ['data/2022.csv', 'data/2021.csv', 'data/2020.csv', 
    'data/2019.csv', 'data/2018.csv', 'data/2017.csv', 'data/2016.csv',
    'data/2015.csv']), ignore_index=True)
df

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,...,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Dystopia Residual
0,1.0,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,NaN,Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,154.0,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.67042
915,NaN,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,155.0,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,1.63328
916,NaN,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Middle East and Northern Africa,156.0,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.32858
917,NaN,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,157.0,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,1.83302
918,NaN,Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,158.0,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,1.56726

## Feature selection
Drop irrelevant features

In [66]:
# drop columns
df = df.drop([
  'Rank', 'Whisker-high', 'Whisker-low', 'Dystopia (1.83) + residual'
   ], axis=1)

In [67]:
df

,RANK,Country,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Regional indicator,...,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Health (Life Expectancy),Trust (Government Corruption),Dystopia Residual,Standard Error
0,1.0,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Denmark,"7,636","1,953","1,243","0,777","0,719","0,188","0,532",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Iceland,"7,557","1,936","1,320","0,803","0,718","0,270","0,191",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Switzerland,"7,512","2,026","1,226","0,822","0,677","0,147","0,461",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Netherlands,"7,415","1,945","1,206","0,787","0,651","0,271","0,419",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,NaN,Rwanda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,154.0,3.465,NaN,NaN,0.22208,0.42864,0.55191,0.67042,0.03464
1227,NaN,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,155.0,3.340,NaN,NaN,0.28665,0.31910,0.08010,1.63328,0.03656
1228,NaN,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Middle East and Northern Africa,156.0,3.006,NaN,NaN,0.66320,0.72193,0.18906,0.32858,0.05015
1229,NaN,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,157.0,2.905,NaN,NaN,0.01530,0.22396,0.10062,1.83302,0.08658
1230,NaN,Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Sub-Saharan Africa,158.0,2.839,NaN,NaN,0.20868,0.28443,0.10731,1.56726,0.06727

In [51]:
# rename columns
df = df.rename(columns={
  'Ladder score' : 'Happiness score', 
  'Explained by: Log GDP per capita': 'Logged GDP per capita', 
  'Explained by: Social support': 'Social support',
  'Explained by: Healthy life expectancy': 'Healthy life expectancy',
  'Explained by: Freedom to make life choices': 'Freedom to make life choices',
  'Explained by: Generosity': 'Generosity',
  'Explained by: Perceptions of corruption': 'Perceptions of corruption',
  })

In [52]:
df

,Regional indicator,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384
...,...,...,...,...,...,...,...,...
144,Sub-Saharan Africa,3.512,0.451,0.731,0.007,0.405,0.103,0.015
145,Sub-Saharan Africa,3.467,1.099,0.724,0.340,0.539,0.027,0.088
146,Sub-Saharan Africa,3.415,0.364,0.202,0.407,0.627,0.227,0.493
147,Sub-Saharan Africa,3.145,0.457,0.649,0.243,0.359,0.157,0.075
148,South Asia,2.523,0.370,0.000,0.126,0.000,0.122,0.010

In [53]:
# check data types
df.dtypes

Regional indicator               object
Happiness score                 float64
Logged GDP per capita           float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [54]:
df.describe()

,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141
std,1.073924,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361
min,2.523000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.852000,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000
50%,5.534000,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000
75%,6.255000,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000
max,7.842000,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000

In [55]:
# Convert numeric explained by data into categorical

# define the range of values 
bins = np.arange(0, 1.9, 0.1)

# use pd.cut() to map the numerical values to the categorical values
for col in df.columns:
    if col not in ['Regional indicator', 'Happiness score']:
        df[col] = pd.cut(df[col], bins=bins, include_lowest=True)

In [56]:
# Convert ladder score data into categorical

# define the range of values 
bins = np.arange(0, 8.5, 0.5)

# use pd.cut() to map the numerical values to the categorical values
for col in df.columns:
    if col == 'Happiness score':
        df[col] = pd.cut(df[col], bins=bins, include_lowest=True)

In [57]:
df.dtypes

Regional indicator                object
Happiness score                 category
Logged GDP per capita           category
Social support                  category
Healthy life expectancy         category
Freedom to make life choices    category
Generosity                      category
Perceptions of corruption       category
dtype: object

In [58]:
df

,Regional indicator,Happiness score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Western Europe,"(7.5, 8.0]","(1.4, 1.5]","(1.1, 1.2]","(0.7, 0.8]","(0.6, 0.7]","(0.1, 0.2]","(0.4, 0.5]"
1,Western Europe,"(7.5, 8.0]","(1.5, 1.6]","(1.1, 1.2]","(0.7, 0.8]","(0.6, 0.7]","(0.2, 0.3]","(0.4, 0.5]"
2,Western Europe,"(7.5, 8.0]","(1.5, 1.6]","(1.0, 1.1]","(0.8, 0.9]","(0.6, 0.7]","(0.2, 0.3]","(0.4, 0.5]"
3,Western Europe,"(7.5, 8.0]","(1.4, 1.5]","(1.1, 1.2]","(0.7, 0.8]","(0.6, 0.7]","(0.2, 0.3]","(0.1, 0.2]"
4,Western Europe,"(7.0, 7.5]","(1.5, 1.6]","(1.0, 1.1]","(0.7, 0.8]","(0.6, 0.7]","(0.3, 0.4]","(0.3, 0.4]"
...,...,...,...,...,...,...,...,...
144,Sub-Saharan Africa,"(3.5, 4.0]","(0.4, 0.5]","(0.7, 0.8]","(-0.001, 0.1]","(0.4, 0.5]","(0.1, 0.2]","(-0.001, 0.1]"
145,Sub-Saharan Africa,"(3.0, 3.5]","(1.0, 1.1]","(0.7, 0.8]","(0.3, 0.4]","(0.5, 0.6]","(-0.001, 0.1]","(-0.001, 0.1]"
146,Sub-Saharan Africa,"(3.0, 3.5]","(0.3, 0.4]","(0.2, 0.3]","(0.4, 0.5]","(0.6, 0.7]","(0.2, 0.3]","(0.4, 0.5]"
147,Sub-Saharan Africa,"(3.0, 3.5]","(0.4, 0.5]","(0.6, 0.7]","(0.2, 0.3]","(0.3, 0.4]","(0.1, 0.2]","(-0.001, 0.1]"
148,South Asia,"(2.5, 3.0]","(0.3, 0.4]","(-0.001, 0.1]","(0.1, 0.2]","(-0.001, 0.1]","(0.1, 0.2]","(-0.001, 0.1]"

In [59]:
# check for null values
df.isna().sum()

Regional indicator              0
Happiness score                 0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [60]:
# export pre-processed data to csv
df.to_csv('PP-world-happiness.csv')